/* import 'font-awesome/css/font-awesome.min.css'; */

.App {
  text-align: center;
}
body {
  background: #ffffff;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #24243e, #302b63, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #24243e, #302b63, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black;
/* max-width: ; */
/* border: solid 5px black; */
}


/* header */
.navbar1 {
  /* border: solid 5px black; */
  background: #ededed;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to left, #24243e, #302b63, #ffffff);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to left, #24243e, #302b63, #ffffff); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  box-shadow: 2px 2px 2px gray;
  /* height: 10vh; */
  /* width: 250vh; */
}

.collapse {
  /* border: solid 5px black; */
  display: flex;
  /* margin: auto 20%; */
}

.navbar-nav {
  /* border: solid 5px black; */
  margin: auto;
  /* margin-top: 1.2em; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav-item {
  margin: auto 0.1em;
  margin-top: 0.4em;
  font-size: 1.3em;
  display: flex;
  padding: 15px;
  align-items: center;
  box-shadow: inset 0 0 0 0 black;
  color: black;
  /* margin: 0 -.25rem; */
  /* padding: 0 .25rem; */
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.nav-item:hover {
  /* height: 12vh; */
  box-shadow: inset 200px 0 0 0 black;
  color: #ffffff;
}

.App-logo {
  margin: auto;
  height: 8vmin;
  pointer-events: none;
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* form */

.heading {
  /* border: solid 5px black; */
  font-size: 40px;
  margin: 5% 40%;
  color: #424040;
  font-weight: 600;
}

.input[email], .input[password] {
  /* border: solid 5px black; */
  border-radius: 0%;
  font-size: 15px;
  height: 45px;
  letter-spacing: 1px;
}

.form-control {
  /* border: solid 2px black; */
  justify-content: center;
  align-items: center;
  margin: 10px 50%;
  height: max-content;
  font-size: xx-large;
}

.form-control:focus {
  /* border: solid 5px black; */
  box-shadow: #424040;
  border-color: #615e5e;
}

.btn-sign-in {
  /* border: solid 5px black; */
  background-color: #c43421;
  /* border-radius: 0%; */
  color: #ffffff;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 5px 50%;
  height: max-content;
  width: max-content;
  font-size: x-large;
}

.btn-sign-up {
  /* border: solid 5px black; */
  background-color: #3e77f1;
  /* border-radius: 0%; */
  color: #ffffff;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 5px 50%;
  height: max-content;
  width: max-content;
  font-size: x-large;
}

p {
  /* margin: auto; */
  /* margin-top: 25px; */
  font-size: large;
  margin-left: 2.5em;
}

/* FORM  */
.heading {
  font-size: 20px;
color: #424040;
  font-weight: 600;
}

.input-text-box {
  /*   border-radius(0!important); */
font-size: 15px!important;
height: 45px!important;
letter-spacing: 1px!important;  
}

.form-control:focus {
  box-shadow: none !important;
  /* border-color: $yellow !important; */
}

.btn-sign-in {
  background: #c43421!important;
  /*   border-radius(0!important); */
color: #fff!important;
padding: 10px 50px!important;
  border-radius: 5px !important;
}

.btn-sign-up {
  background: #4287f5!important;
  /*   border-radius(0!important); */
color: #fff!important;
padding: 10px 50px!important;
  border-radius: 5px !important;
}

/* .blog-form input:focus {
  border-color: $yellow !important;
} */

.description-box {
  /*   border-radius(0!important); */
height: 150px;
resize: none;
padding-top: 20px!important;
letter-spacing: 1px!important; 
}

.btn-add {
  background: #bf7034 !important;
/*   border-radius(0!important); */
color: #fff!important;
padding: 10px 50px!important;
margin-left: 148px;
}


.react-tag-input {
  height: 45px !important;
  margin-left: 292px;
}

/* .react-tag-input:focus {
  border-color: $yellow !important;   
} */

.catg-dropdown {
  width: 100%;
  margin-left: 292px;
  border-radius: 4px;
  height: 45px;
  color: #806a78;
}

.catg-dropdown:focus {
    outline: none !important;
    /* border-color: $yellow; */
}

.trending {
    float: left;
    color: #806a78;
    font-size: 18px;
    margin: auto;
    margin-left: 292px;
}

/* BLOG SECTION */

.blog-heading {
	font-size: 24px;
	color: #222;
    border-bottom: 1px solid #777;
}

.blogs-img {
    height: 200px;
   border-radius: 5px;
	overflow: hidden;
	position: relative;
	top: 0;
   box-shadow: 0, 2px, 3px, 1px, rgba(0,0,0,0);
   transition: 0.5s;
   margin: 2em;
}

.blogs-img img {
    height: 260px;
	min-width: 100%;
}

.hover-blogs-img:hover .blogs-img {
    top: -7px;
	box-shadow: 0, 2px, 3px, 1px, rgba(0,0,0,0.3);
}

.title {
    font-size: 17px;
	color: #222!important;
	font-weight: 800;
    font-family: "Poppins";
    text-decoration: none;
	display: block;
}


.category {
    display: inline-block;
    position: relative;
    background-color: #4287f5;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: none;
    line-height: 16px;
    font-weight: 700;
    border-radius: 4px;
}

.fa-trash {
	color: black !important;
  cursor: pointer;
}

.fa-edit {
	color: black !important;
  cursor: pointer;
}

/* DETAIL */

.meta-info {
  font-size: 1.5em;
  display: block;
  font-family: "Poppins";
  text-decoration: none;
  color: #222;
}

.blog-single-content .meta-info {
  border-bottom: 1px solid #777;
  margin-bottom: 15px;
  margin-top: 8px;
}

.author {
  font-weight: 600;
  display: inline-block;
/* font-size: 1.5em !important;	 */
}

.short-description {
  font-size: 14px;
  color: #777;
}

.btn-read {
  background: #544e66 !important;
 /* border-radius(0!important); */
  color: #fff!important;
  padding: 5px 10px!important;
  float: left;
  margin-top: 10px;
  font-size: 14px;
}

/* ABOUT  */

.container-about {
  border: solid 1px #dedede;
  margin: 3em auto;
  height: 100%;
  background-color: #ededed;
  box-shadow: 2px 2px 2px gray;
}

.container2 {
  border: solid 1px #dedede;
  background-color: #ededed;
  box-shadow: 2px 2px 2px gray;
}

/* HOME  */
.spinner {
  width: 3rem;
  height: 3rem;
}